html
  head
    link(rel='stylesheet', href='css/styles.css', title='main', type='text/css')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Tracks
  body
    main.container(role='main')
      #sidebar
        ol
          li Linear Algebra
          li Discrete Math
          li Computer Science Theory
      #content
        ol
          li Resource1
          li Resource 2 asdkfpoaksdpfkapdos

